## Week 1 
Task 2

In [1]:
import numpy
import scipy 
import pandas
import matplotlib

In [2]:
print(numpy.__version__)
print(scipy.__version__)
print(pandas.__version__)
print(matplotlib.__version__)

1.18.1
1.4.1
1.0.3
3.2.1

# Машинное обучение и анализ данных
## Типы данных в Python

Тип `int`

In [3]:
x = 5

In [4]:
c = 5/4

In [5]:
c

1.25

In [13]:
print (-5/4)

-1.25

In [20]:
x = 5 * 100000000 * 100000000 * 10000000 * 10000000 + 1

In [21]:
type(x)

int

In [25]:
print (4%4)

0

print `bool`

In [26]:
a = True
b = False

In [27]:
a + b

1

In [28]:
a - b

1

In [30]:
a ** 2

1

In [36]:
print (True or False)
print (False or False)
print (True or True)

True
False
True

In [37]:
print (True and False)
print (False and False)
print (True and True)

False
False
True

In [38]:
z = None
print(z)
print(type(z))

None
<class 'NoneType'>

type `str`

In [40]:
z = 'abc'

In [44]:
print (z.upper())
print (z.lower())
print (len(z))

ABC
abc
3

In [47]:
print(bool(''))

False

In [48]:
a = 'MIKHAIL'

In [49]:
a[0]

'M'

In [52]:
a[0:3:2]

'MK'

type `unicode`

In [60]:
x = 'Элеонора Михайлова'
print(x, type(x))

Элеонора Михайлова <class 'str'>

In [55]:
y = x.encode('utf-8')

In [57]:
y.decode('utf-8')

'Элеонора Михайлова'

In [61]:
x[1:]

'леонора Михайлова'

In [69]:
x = 'Михайил Михайлович'

In [74]:
x.split('х')

['Ми', 'айил Ми', 'айлович']

type `list`

In [75]:
saled_gooda_counts = [33450, 34010, 33990, 33200]

In [76]:
type(saled_gooda_counts)

list

In [77]:
income = ['High', 'Medium', 'Low']
names = ['Victor', 'Mikhail', 'Roman', 'Sergei']

In [80]:
print(' '.join(income))

High Medium Low

In [81]:
'Hello, world!'.replace(',',' ')

'Hello  world!'

In [83]:
'_'.join('Hello, world!'.split(' '))

'Hello,_world!'

In [84]:
' '.join(('Hello, world!'.split('_')))

'Hello, world!'

In [88]:
' '.join('Hello, world!'.split('_'))

'Hello, world!'

In [89]:
'Hello, world!'.split('_')

['Hello, world!']

In [96]:
features = ['32', 'Ivan', 10000, 14]

In [103]:
features[-2:]

[10000, 14]

In [104]:
features.append('11')

In [105]:
features

['32', 'Ivan', 10000, 14, '11']

In [106]:
features_tuple = ('22', 10231, 'IVAN')

In [107]:
type(features_tuple)

tuple

In [108]:
features_tuple[1]

10231

In [109]:
names = {'IVAN', 'DRON', 'MAX'}

In [111]:
type(names)

set

In [117]:
print ('SASHA' in names)

False

In [118]:
names.add(9)

In [121]:
a = range(10000)
b = range(10000)

In [122]:
print(a[1])

1

In [123]:
b = set(b)

In [133]:
%%timeit
9999 in b

49.5 ns ± 0.472 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [134]:
%%timeit
9999 in a

100 ns ± 2.46 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

type `dict`

In [135]:
words_freq = dict()

In [136]:
words_freq['I'] = 1

In [137]:
words_freq

{'I': 1}

In [138]:
words_freq['am'] = 2

In [139]:
words_freq

{'I': 1, 'am': 2}

In [140]:
words_freq['I'] += 1

In [141]:
words_freq

{'I': 2, 'am': 2}

In [144]:
for i in range(10): 
    words_freq['I'] += i

In [146]:
words_freq['I']

57