## Данные по фермерам и культурам Москвовской области

In [1]:
import pandas as pd
import numpy as np

In [170]:
farm_df = pd.read_excel('./farm_datarame_moscow.xlsx', header=0)

In [173]:
farm_df.square.describe()

count     6095
unique    1801
top        0.1
freq       456
Name: square, dtype: object

Тут оч криво удаляем всякие сомнительные значения из колонки `square`

In [157]:

farm_df = farm_df[farm_df.square != '2.5.']
farm_df = farm_df[farm_df.square != '35/35']
farm_df = farm_df[farm_df.square != '  179/75']
farm_df = farm_df[farm_df.square != '  80/85']
farm_df = farm_df[farm_df.square != '   57/94']
farm_df = farm_df[farm_df.square != 'Рожь']
farm_df = farm_df[farm_df.square != '0.10.1']

Продолжаем заменять все что только можно

In [158]:
farm_df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

Приводим к `float`

In [159]:
farm_df.square=farm_df['square'].astype('float')
farm_df.square.fillna(value=0, inplace=True)

In [160]:
#farm_df.dropna(how='any', inplace=True)
farm_df

                               farmer    year   square         crop
0                       СПК "Деметра"  2019.0    175.0       ячмень
1                       СПК "Деметра"  2019.0    166.0   оз пшеница
2                       СПК "Деметра"  2019.0    129.0   оз пшеница
3                       СПК "Деметра"  2019.0      0.0          NaN
4                       СПК "Деметра"  2019.0      0.0          NaN
...                               ...     ...      ...          ...
6832              ООО "ЮгПодмосковья"  2019.0  43889.0  Рапс яровой
6833  К(Ф)Х "Междуречье" Денисов М.В.  2019.0      0.0          NaN
6834  К(Ф)Х "Междуречье" Денисов М.В.  2019.0  43896.0    картофель
6835  К(Ф)Х "Междуречье" Денисов М.В.  2019.0  44022.0    картофель
6836             К(Ф)Х Киселева В. П.  2019.0     10.0    картофель

[6829 rows x 4 columns]

In [161]:
new_df = farm_df.groupby(['farmer']).agg('sum')

In [162]:
new_df.reset_index(inplace=True)

In [169]:
new_df.square/100

0           1.430000
1      247612.972852
2          37.890000
3          26.310000
4           7.500000
           ...
170      1351.611000
171      9696.955000
172        30.270000
173         0.600000
174         1.481081
Name: square, Length: 175, dtype: float64

In [174]:
100/15

6.666666666666667